.bs-docs-sidenav {
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li.nav-header {
	border: 1px solid #e5e5e5;
  padding: 8px 14px;
  margin: 0 0 -1px 0;
	background-color: #f8f8f8;
	font-size: 11pt;
	font-weight: normal;
	font-style: normal;
}

.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 20px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a, 
.bs-docs-sidenav > li:first-child.nav-header {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  margin-bottom: 30px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

#content-tb {
	margin-bottom: 40px;
}


#content-tb td {
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: middle;
	text-align: center;
}


#content{
	margin-right: 20px;
	margin-left: 20px;
	color: #515151;
	margin-bottom: 70px;
}

.speaker{
	margin-right: 15px;
	margin-top: -4px;
}

#footer {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
	color: #919191;
	text-align: center;
	height: 29px;
}

#header {
	color: rgb(81,81,81);
	margin: 10px 20px;
	border: 2px solid #f1f1f1;
	background-image: #fafafa;
	background-image: -webkit-linear-gradient(bottom, #f4f4f4 0%, #ffffff 50%);
	background-image: -moz-linear-gradient(bottom, #f4f4f4 0%, #ffffff 50%);
	background-image: -ms-linear-gradient(bottom, #f4f4f4 0%, #ffffff 50%);
	background-image: linear-gradient(bottom, #f4f4f4 0%, #ffffff 50%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f4f4f4",GradientType=0);
}

#wrapper {
	min-height: 100%;
	margin-bottom: -50px;
	background-color: white;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	 -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	      box-shadow: 0 1px 4px rgba(0,0,0,.065);
}


#sidebar{
	margin: 10px 20px;
}

html, body {
	height: 100%;
}

body {
	background-image: url(../img/paper_bg.jpg);
}


