<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>author</key>
		<string>净空法师</string>
		<key>ChiFolderName</key>
		<string>认识佛教</string>
		<key>EngFolderName</key>
		<string>UnderstandingBuddhism</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>6840283</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>6809354</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>7235463</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>7177889</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>7189383</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>7158872</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>7204952</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>7147378</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>8763522</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>8655794</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-11.mp3</string>
				<key>EngSuffix</key>
				<string>-11.mp3</string>
				<key>bytes</key>
				<integer>8786510</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-12.mp3</string>
				<key>EngSuffix</key>
				<string>-12.mp3</string>
				<key>bytes</key>
				<integer>8759552</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>文稿.doc</string>
				<key>EngSuffix</key>
				<string>-13.doc</string>
				<key>bytes</key>
				<integer>187904</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>净空法师</string>
		<key>ChiFolderName</key>
		<string>修福积德造命法</string>
		<key>EngFolderName</key>
		<string>GoodLifeCreation</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>7016643</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>6932425</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>7074217</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>6958965</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>7039631</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>6997626</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>7005045</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>7028137</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>6940052</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>6886346</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-11.mp3</string>
				<key>EngSuffix</key>
				<string>-11.mp3</string>
				<key>bytes</key>
				<integer>7032213</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-12.mp3</string>
				<key>EngSuffix</key>
				<string>-12.mp3</string>
				<key>bytes</key>
				<integer>6928559</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-13.mp3</string>
				<key>EngSuffix</key>
				<string>-13.mp3</string>
				<key>bytes</key>
				<integer>7013092</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-14.mp3</string>
				<key>EngSuffix</key>
				<string>-14.mp3</string>
				<key>bytes</key>
				<integer>7016644</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-15.mp3</string>
				<key>EngSuffix</key>
				<string>-15.mp3</string>
				<key>bytes</key>
				<integer>7051126</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-16.mp3</string>
				<key>EngSuffix</key>
				<string>-16.mp3</string>
				<key>bytes</key>
				<integer>7051126</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-17.mp3</string>
				<key>EngSuffix</key>
				<string>-17.mp3</string>
				<key>bytes</key>
				<integer>6989999</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-18.mp3</string>
				<key>EngSuffix</key>
				<string>-18.mp3</string>
				<key>bytes</key>
				<integer>7005046</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-19.mp3</string>
				<key>EngSuffix</key>
				<string>-19.mp3</string>
				<key>bytes</key>
				<integer>7028138</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-20.mp3</string>
				<key>EngSuffix</key>
				<string>-20.mp3</string>
				<key>bytes</key>
				<integer>6997627</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-21.mp3</string>
				<key>EngSuffix</key>
				<string>-21.mp3</string>
				<key>bytes</key>
				<integer>7028138</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-22.mp3</string>
				<key>EngSuffix</key>
				<string>-22.mp3</string>
				<key>bytes</key>
				<integer>7051126</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-23.mp3</string>
				<key>EngSuffix</key>
				<string>-23.mp3</string>
				<key>bytes</key>
				<integer>7047573</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-24.mp3</string>
				<key>EngSuffix</key>
				<string>-24.mp3</string>
				<key>bytes</key>
				<integer>7016644</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-25.mp3</string>
				<key>EngSuffix</key>
				<string>-25.mp3</string>
				<key>bytes</key>
				<integer>7062620</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-26.mp3</string>
				<key>EngSuffix</key>
				<string>-26.mp3</string>
				<key>bytes</key>
				<integer>6978506</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-27.mp3</string>
				<key>EngSuffix</key>
				<string>-27.mp3</string>
				<key>bytes</key>
				<integer>7039632</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-28.mp3</string>
				<key>EngSuffix</key>
				<string>-28.mp3</string>
				<key>bytes</key>
				<integer>7032213</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-29.mp3</string>
				<key>EngSuffix</key>
				<string>-29.mp3</string>
				<key>bytes</key>
				<integer>6970564</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-30.mp3</string>
				<key>EngSuffix</key>
				<string>-30.mp3</string>
				<key>bytes</key>
				<integer>6978506</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-31.mp3</string>
				<key>EngSuffix</key>
				<string>-31.mp3</string>
				<key>bytes</key>
				<integer>6863358</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-32.mp3</string>
				<key>EngSuffix</key>
				<string>-32.mp3</string>
				<key>bytes</key>
				<integer>6836399</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-33.mp3</string>
				<key>EngSuffix</key>
				<string>-33.mp3</string>
				<key>bytes</key>
				<integer>6970564</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-34.mp3</string>
				<key>EngSuffix</key>
				<string>-34.mp3</string>
				<key>bytes</key>
				<integer>6967012</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-35.mp3</string>
				<key>EngSuffix</key>
				<string>-35.mp3</string>
				<key>bytes</key>
				<integer>6836399</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-36.mp3</string>
				<key>EngSuffix</key>
				<string>-36.mp3</string>
				<key>bytes</key>
				<integer>6836399</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>文稿.doc</string>
				<key>EngSuffix</key>
				<string>-37.doc</string>
				<key>bytes</key>
				<integer>529920</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>袁了凡</string>
		<key>ChiFolderName</key>
		<string>了凡四训</string>
		<key>EngFolderName</key>
		<string>LiuFan</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>4832598</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>4579210</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>5082015</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>4682864</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>4855794</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>4825074</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>4782547</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>4444940</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>5147530</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>4514009</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-11.mp3</string>
				<key>EngSuffix</key>
				<string>-11.mp3</string>
				<key>bytes</key>
				<integer>4175985</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>文稿.doc</string>
				<key>EngSuffix</key>
				<string>-12.doc</string>
				<key>bytes</key>
				<integer>104448</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>蔡礼旭</string>
		<key>ChiFolderName</key>
		<string>细讲《弟子规》</string>
		<key>EngFolderName</key>
		<string>DiscipleRules</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>13654060</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>13639745</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>13570050</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>13612264</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>13571931</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>13636192</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>13702125</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>13592202</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>13626057</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>13620310</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-11.mp3</string>
				<key>EngSuffix</key>
				<string>-11.mp3</string>
				<key>bytes</key>
				<integer>13612264</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-12.mp3</string>
				<key>EngSuffix</key>
				<string>-12.mp3</string>
				<key>bytes</key>
				<integer>13590217</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-13.mp3</string>
				<key>EngSuffix</key>
				<string>-13.mp3</string>
				<key>bytes</key>
				<integer>13687936</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-14.mp3</string>
				<key>EngSuffix</key>
				<string>-14.mp3</string>
				<key>bytes</key>
				<integer>13541316</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-15.mp3</string>
				<key>EngSuffix</key>
				<string>-15.mp3</string>
				<key>bytes</key>
				<integer>13657508</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-16.mp3</string>
				<key>EngSuffix</key>
				<string>-16.mp3</string>
				<key>bytes</key>
				<integer>13817587</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-17.mp3</string>
				<key>EngSuffix</key>
				<string>-17.mp3</string>
				<key>bytes</key>
				<integer>13623445</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-18.mp3</string>
				<key>EngSuffix</key>
				<string>-18.mp3</string>
				<key>bytes</key>
				<integer>13559810</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-19.mp3</string>
				<key>EngSuffix</key>
				<string>-19.mp3</string>
				<key>bytes</key>
				<integer>13579350</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-20.mp3</string>
				<key>EngSuffix</key>
				<string>-20.mp3</string>
				<key>bytes</key>
				<integer>13637655</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-21.mp3</string>
				<key>EngSuffix</key>
				<string>-21.mp3</string>
				<key>bytes</key>
				<integer>13589694</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-22.mp3</string>
				<key>EngSuffix</key>
				<string>-22.mp3</string>
				<key>bytes</key>
				<integer>13555108</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-23.mp3</string>
				<key>EngSuffix</key>
				<string>-23.mp3</string>
				<key>bytes</key>
				<integer>13637342</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-24.mp3</string>
				<key>EngSuffix</key>
				<string>-24.mp3</string>
				<key>bytes</key>
				<integer>13129417</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-25.mp3</string>
				<key>EngSuffix</key>
				<string>-25.mp3</string>
				<key>bytes</key>
				<integer>13565975</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-26.mp3</string>
				<key>EngSuffix</key>
				<string>-26.mp3</string>
				<key>bytes</key>
				<integer>13573394</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-27.mp3</string>
				<key>EngSuffix</key>
				<string>-27.mp3</string>
				<key>bytes</key>
				<integer>13787494</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-28.mp3</string>
				<key>EngSuffix</key>
				<string>-28.mp3</string>
				<key>bytes</key>
				<integer>13711530</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-29.mp3</string>
				<key>EngSuffix</key>
				<string>-29.mp3</string>
				<key>bytes</key>
				<integer>13647791</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-30.mp3</string>
				<key>EngSuffix</key>
				<string>-30.mp3</string>
				<key>bytes</key>
				<integer>13697737</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-31.mp3</string>
				<key>EngSuffix</key>
				<string>-31.mp3</string>
				<key>bytes</key>
				<integer>13527753</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-32.mp3</string>
				<key>EngSuffix</key>
				<string>-32.mp3</string>
				<key>bytes</key>
				<integer>13591889</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-33.mp3</string>
				<key>EngSuffix</key>
				<string>-33.mp3</string>
				<key>bytes</key>
				<integer>14067735</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-34.mp3</string>
				<key>EngSuffix</key>
				<string>-34.mp3</string>
				<key>bytes</key>
				<integer>14251324</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-35.mp3</string>
				<key>EngSuffix</key>
				<string>-35.mp3</string>
				<key>bytes</key>
				<integer>13727725</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-36.mp3</string>
				<key>EngSuffix</key>
				<string>-36.mp3</string>
				<key>bytes</key>
				<integer>14251324</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-37.mp3</string>
				<key>EngSuffix</key>
				<string>-37.mp3</string>
				<key>bytes</key>
				<integer>13601397</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-38.mp3</string>
				<key>EngSuffix</key>
				<string>-38.mp3</string>
				<key>bytes</key>
				<integer>14840646</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-39.mp3</string>
				<key>EngSuffix</key>
				<string>-39.mp3</string>
				<key>bytes</key>
				<integer>13759699</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-40.mp3</string>
				<key>EngSuffix</key>
				<string>-40.mp3</string>
				<key>bytes</key>
				<integer>13717381</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-41.mp3</string>
				<key>EngSuffix</key>
				<string>-41.mp3</string>
				<key>bytes</key>
				<integer>14071288</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>净空法师</string>
		<key>ChiFolderName</key>
		<string>阿弥陀佛四十八愿</string>
		<key>EngFolderName</key>
		<string>48Wishes</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>20482482</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>20621767</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>20732735</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>20423968</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>20532637</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>19734022</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>21106077</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>19740187</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>19867769</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>20325852</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>净空法师</string>
		<key>ChiFolderName</key>
		<string>佛说阿弥陀经易解</string>
		<key>EngFolderName</key>
		<string>AmitabhaSutra</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>7407872</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>7391990</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>7411947</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>7339954</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>7315921</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>7228150</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>文稿.doc</string>
				<key>EngSuffix</key>
				<string>-07.doc</string>
				<key>bytes</key>
				<integer>193536</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>净空法师</string>
		<key>ChiFolderName</key>
		<string>佛说大乘无量寿经</string>
		<key>EngFolderName</key>
		<string>EternitySutra</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>7154795</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>7128254</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>7197322</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>7162841</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>7216444</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>7162841</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>7193456</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>7177887</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>7174334</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>7189382</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-11.mp3</string>
				<key>EngSuffix</key>
				<string>-11.mp3</string>
				<key>bytes</key>
				<integer>7189382</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-12.mp3</string>
				<key>EngSuffix</key>
				<string>-12.mp3</string>
				<key>bytes</key>
				<integer>7147377</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-13.mp3</string>
				<key>EngSuffix</key>
				<string>-13.mp3</string>
				<key>bytes</key>
				<integer>7220415</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-14.mp3</string>
				<key>EngSuffix</key>
				<string>-14.mp3</string>
				<key>bytes</key>
				<integer>7128255</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-15.mp3</string>
				<key>EngSuffix</key>
				<string>-15.mp3</string>
				<key>bytes</key>
				<integer>7223968</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-16.mp3</string>
				<key>EngSuffix</key>
				<string>-16.mp3</string>
				<key>bytes</key>
				<integer>7158871</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-17.mp3</string>
				<key>EngSuffix</key>
				<string>-17.mp3</string>
				<key>bytes</key>
				<integer>7193457</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-18.mp3</string>
				<key>EngSuffix</key>
				<string>-18.mp3</string>
				<key>bytes</key>
				<integer>7147377</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-19.mp3</string>
				<key>EngSuffix</key>
				<string>-19.mp3</string>
				<key>bytes</key>
				<integer>7223968</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-20.mp3</string>
				<key>EngSuffix</key>
				<string>-20.mp3</string>
				<key>bytes</key>
				<integer>7208922</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-21.mp3</string>
				<key>EngSuffix</key>
				<string>-21.mp3</string>
				<key>bytes</key>
				<integer>7204951</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-22.mp3</string>
				<key>EngSuffix</key>
				<string>-22.mp3</string>
				<key>bytes</key>
				<integer>7208922</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-23.mp3</string>
				<key>EngSuffix</key>
				<string>-23.mp3</string>
				<key>bytes</key>
				<integer>7254897</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-24.mp3</string>
				<key>EngSuffix</key>
				<string>-24.mp3</string>
				<key>bytes</key>
				<integer>7200876</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-25.mp3</string>
				<key>EngSuffix</key>
				<string>-25.mp3</string>
				<key>bytes</key>
				<integer>7228043</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-26.mp3</string>
				<key>EngSuffix</key>
				<string>-26.mp3</string>
				<key>bytes</key>
				<integer>7208922</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-27.mp3</string>
				<key>EngSuffix</key>
				<string>-27.mp3</string>
				<key>bytes</key>
				<integer>7231909</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-28.mp3</string>
				<key>EngSuffix</key>
				<string>-28.mp3</string>
				<key>bytes</key>
				<integer>7193457</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-29.mp3</string>
				<key>EngSuffix</key>
				<string>-29.mp3</string>
				<key>bytes</key>
				<integer>7223968</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-30.mp3</string>
				<key>EngSuffix</key>
				<string>-30.mp3</string>
				<key>bytes</key>
				<integer>7162842</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-31.mp3</string>
				<key>EngSuffix</key>
				<string>-31.mp3</string>
				<key>bytes</key>
				<integer>7208922</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-32.mp3</string>
				<key>EngSuffix</key>
				<string>-32.mp3</string>
				<key>bytes</key>
				<integer>7200876</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-33.mp3</string>
				<key>EngSuffix</key>
				<string>-33.mp3</string>
				<key>bytes</key>
				<integer>7223968</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-34.mp3</string>
				<key>EngSuffix</key>
				<string>-34.mp3</string>
				<key>bytes</key>
				<integer>7220415</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-35.mp3</string>
				<key>EngSuffix</key>
				<string>-35.mp3</string>
				<key>bytes</key>
				<integer>7174335</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-36.mp3</string>
				<key>EngSuffix</key>
				<string>-36.mp3</string>
				<key>bytes</key>
				<integer>7128255</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-37.mp3</string>
				<key>EngSuffix</key>
				<string>-37.mp3</string>
				<key>bytes</key>
				<integer>7185829</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-38.mp3</string>
				<key>EngSuffix</key>
				<string>-38.mp3</string>
				<key>bytes</key>
				<integer>7151243</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-39.mp3</string>
				<key>EngSuffix</key>
				<string>-39.mp3</string>
				<key>bytes</key>
				<integer>7197323</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-40.mp3</string>
				<key>EngSuffix</key>
				<string>-40.mp3</string>
				<key>bytes</key>
				<integer>7170469</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-41.mp3</string>
				<key>EngSuffix</key>
				<string>-41.mp3</string>
				<key>bytes</key>
				<integer>7216445</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-42.mp3</string>
				<key>EngSuffix</key>
				<string>-42.mp3</string>
				<key>bytes</key>
				<integer>7181963</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-43.mp3</string>
				<key>EngSuffix</key>
				<string>-43.mp3</string>
				<key>bytes</key>
				<integer>6038009</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-44.mp3</string>
				<key>EngSuffix</key>
				<string>-44.mp3</string>
				<key>bytes</key>
				<integer>5945849</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>文稿-1.doc</string>
				<key>EngSuffix</key>
				<string>-45.doc</string>
				<key>bytes</key>
				<integer>550400</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>文稿-2.doc</string>
				<key>EngSuffix</key>
				<string>-46.doc</string>
				<key>bytes</key>
				<integer>546816</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>净空法师</string>
		<key>ChiFolderName</key>
		<string>般若波罗蜜多心经</string>
		<key>EngFolderName</key>
		<string>HeartSutra</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>5700240</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>5425596</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>5710608</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>5616108</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>5716008</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>5113044</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>5706072</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>5002128</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>5729616</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>4977072</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-11.mp3</string>
				<key>EngSuffix</key>
				<string>-11.mp3</string>
				<key>bytes</key>
				<integer>5720652</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-12.mp3</string>
				<key>EngSuffix</key>
				<string>-12.mp3</string>
				<key>bytes</key>
				<integer>4957740</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-13.mp3</string>
				<key>EngSuffix</key>
				<string>-13.mp3</string>
				<key>bytes</key>
				<integer>5626044</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-14.mp3</string>
				<key>EngSuffix</key>
				<string>-14.mp3</string>
				<key>bytes</key>
				<integer>5351400</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>文稿.doc</string>
				<key>EngSuffix</key>
				<string>-15.doc</string>
				<key>bytes</key>
				<integer>100864</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>author</key>
		<string>净空法师</string>
		<key>ChiFolderName</key>
		<string>金刚般若大意</string>
		<key>EngFolderName</key>
		<string>DiamondSutra</string>
		<key>chapters</key>
		<array>
			<dict>
				<key>ChiSuffix</key>
				<string>-01.mp3</string>
				<key>EngSuffix</key>
				<string>-01.mp3</string>
				<key>bytes</key>
				<integer>5632632</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-02.mp3</string>
				<key>EngSuffix</key>
				<string>-02.mp3</string>
				<key>bytes</key>
				<integer>5614380</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-03.mp3</string>
				<key>EngSuffix</key>
				<string>-03.mp3</string>
				<key>bytes</key>
				<integer>5634684</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-04.mp3</string>
				<key>EngSuffix</key>
				<string>-04.mp3</string>
				<key>bytes</key>
				<integer>4368492</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-05.mp3</string>
				<key>EngSuffix</key>
				<string>-05.mp3</string>
				<key>bytes</key>
				<integer>5580144</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-06.mp3</string>
				<key>EngSuffix</key>
				<string>-06.mp3</string>
				<key>bytes</key>
				<integer>5484672</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-07.mp3</string>
				<key>EngSuffix</key>
				<string>-07.mp3</string>
				<key>bytes</key>
				<integer>5616540</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-08.mp3</string>
				<key>EngSuffix</key>
				<string>-08.mp3</string>
				<key>bytes</key>
				<integer>4237812</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-09.mp3</string>
				<key>EngSuffix</key>
				<string>-09.mp3</string>
				<key>bytes</key>
				<integer>5639220</integer>
			</dict>
			<dict>
				<key>ChiSuffix</key>
				<string>-10.mp3</string>
				<key>EngSuffix</key>
				<string>-10.mp3</string>
				<key>bytes</key>
				<integer>5410692</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
