<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>author</key>
			<string>净宗学会</string>
			<key>ChiFolderName</key>
			<string>阿弥陀佛圣号</string>
			<key>EngFolderName</key>
			<string>ReadAmitabhaName</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>12994350</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>13819401</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>程媛居士</string>
			<key>ChiFolderName</key>
			<string>无量寿经恭诵</string>
			<key>EngFolderName</key>
			<string>ReadEternitySutra</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>25038888</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>25084864</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>妙音居士</string>
			<key>ChiFolderName</key>
			<string>地藏菩萨本愿经恭诵</string>
			<key>EngFolderName</key>
			<string>ReadGroundSutra</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>35285011</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
