<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>認識佛教</string>
			<key>EngFolderName</key>
			<string>認識佛教</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7198384</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7166040</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6811088</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6819512</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>7325784</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>14479359</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>7064640</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>7070464</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>6872136</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>6860280</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>7175400</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>7125272</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>187392</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>三皈傳授</string>
			<key>EngFolderName</key>
			<string>三皈傳授</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>8549158</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>9196629</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>54272</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>袁了凡</string>
			<key>ChiFolderName</key>
			<string>了凡四訓</string>
			<key>EngFolderName</key>
			<string>了凡四訓</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7054779</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7096574</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6823334</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6929391</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>6801391</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>6414674</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>114176</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>修福積德造命法</string>
			<key>EngFolderName</key>
			<string>修福積德造命法</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10038960</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>9393552</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>10467936</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>10215216</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>10069200</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>10497168</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>9817920</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>9774144</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>9964080</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>9868752</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>9709632</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>9693072</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-13.mp3</string>
					<key>EngSuffix</key>
					<string>-13.mp3</string>
					<key>bytes</key>
					<integer>10335168</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-14.mp3</string>
					<key>EngSuffix</key>
					<string>-14.mp3</string>
					<key>bytes</key>
					<integer>10562832</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-15.mp3</string>
					<key>EngSuffix</key>
					<string>-15.mp3</string>
					<key>bytes</key>
					<integer>7225056</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-16.mp3</string>
					<key>EngSuffix</key>
					<string>-16.mp3</string>
					<key>bytes</key>
					<integer>7216848</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>523264</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>無量壽經介紹</string>
			<key>EngFolderName</key>
			<string>無量壽經介紹</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10007406</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>10045231</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>48128</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>無量壽經選讀</string>
			<key>EngFolderName</key>
			<string>無量壽經選讀</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>11174508</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>11023973</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>11064620</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>11156362</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>11035676</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>11104640</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>11194396</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>11169005</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>11162945</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>11098161</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>6135000</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>5839712</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>無量壽經菁華</string>
			<key>EngFolderName</key>
			<string>無量壽經菁華</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10308081</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>10076845</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>9260257</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>8772169</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>9699323</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>9205191</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>9371330</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>7914324</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>9248554</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>8047862</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>六十條.pdf</string>
					<key>EngSuffix</key>
					<string>六十條.pdf</string>
					<key>bytes</key>
					<integer>643494</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>163840</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>阿彌陀佛四十八願</string>
			<key>EngFolderName</key>
			<string>阿彌陀佛四十八願</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>10595648</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>10274912</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>10783784</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>10706616</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>10423112</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>10309440</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>10320152</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>10103208</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>9938264</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>9845808</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>6359000</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>6445840</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>經文.pdf</string>
					<key>EngSuffix</key>
					<string>經文.pdf</string>
					<key>bytes</key>
					<integer>302694</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>淨語錄</string>
			<key>EngFolderName</key>
			<string>淨語錄</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>13576592</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>13450472</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>13406772</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>13687455</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>13213072</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>13282035</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>13761225</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>13571472</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨空法師</string>
			<key>ChiFolderName</key>
			<string>無住生心集</string>
			<key>EngFolderName</key>
			<string>無住生心集</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7229024</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7141461</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6328217</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6305229</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>6590800</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>6752759</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>90112</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>釋世了</string>
			<key>ChiFolderName</key>
			<string>飭終須知</string>
			<key>EngFolderName</key>
			<string>飭終須知</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7233241</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>6689058</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>6734824</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>6776411</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>文稿.doc</string>
					<key>EngSuffix</key>
					<string>文稿.doc</string>
					<key>bytes</key>
					<integer>86016</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>人生的真諦</string>
			<key>EngFolderName</key>
			<string>人生的真諦</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>5330864</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>5268406</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5298029</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5188158</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>生命之主</string>
			<key>EngFolderName</key>
			<string>生命之主</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>6151214</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>6092830</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5910469</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5607501</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>天界漫談</string>
			<key>EngFolderName</key>
			<string>天界漫談</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>6095836</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>6043956</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5684329</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5562467</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>前世之謎</string>
			<key>EngFolderName</key>
			<string>前世之謎</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>5414326</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>5350221</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5424122</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5350378</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>靈界的生活</string>
			<key>EngFolderName</key>
			<string>靈界的生活</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>5339877</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>5356020</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5489167</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5442851</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>佛教簡史</string>
			<key>EngFolderName</key>
			<string>佛教簡史</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>8332177</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>8632951</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>八識簡介</string>
			<key>EngFolderName</key>
			<string>八識簡介</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7913522</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>8246113</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>蘊界處析義</string>
			<key>EngFolderName</key>
			<string>蘊界處析義</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>8548376</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>8146665</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>寬濟法師</string>
			<key>ChiFolderName</key>
			<string>八關齋戒</string>
			<key>EngFolderName</key>
			<string>八關齋戒</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>5378277</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>5415815</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5466127</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5474982</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>衍空法師</string>
			<key>ChiFolderName</key>
			<string>緣起性空</string>
			<key>EngFolderName</key>
			<string>緣起性空</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>8432330</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7644190</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>8296181</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>8407776</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>衍空法師</string>
			<key>ChiFolderName</key>
			<string>無我思想與三法印</string>
			<key>EngFolderName</key>
			<string>無我思想與三法印</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>7530218</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>7280932</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>7701529</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>7375678</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>觀成法師</string>
			<key>ChiFolderName</key>
			<string>心經</string>
			<key>EngFolderName</key>
			<string>心經</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>12745008</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>13082256</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>13537224</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
