<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>author</key>
			<string>淨宗學會</string>
			<key>ChiFolderName</key>
			<string>阿彌陀佛聖號</string>
			<key>EngFolderName</key>
			<string>阿彌陀佛聖號</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>13819401</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>12994350</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>觀成法師</string>
			<key>ChiFolderName</key>
			<string>地藏經</string>
			<key>EngFolderName</key>
			<string>地藏經</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>3627176</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>111304</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>124887</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>8138628</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-05.mp3</string>
					<key>EngSuffix</key>
					<string>-05.mp3</string>
					<key>bytes</key>
					<integer>2582487</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-06.mp3</string>
					<key>EngSuffix</key>
					<string>-06.mp3</string>
					<key>bytes</key>
					<integer>3796868</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-07.mp3</string>
					<key>EngSuffix</key>
					<string>-07.mp3</string>
					<key>bytes</key>
					<integer>8144270</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-08.mp3</string>
					<key>EngSuffix</key>
					<string>-08.mp3</string>
					<key>bytes</key>
					<integer>2965756</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-09.mp3</string>
					<key>EngSuffix</key>
					<string>-09.mp3</string>
					<key>bytes</key>
					<integer>7327369</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-10.mp3</string>
					<key>EngSuffix</key>
					<string>-10.mp3</string>
					<key>bytes</key>
					<integer>3939601</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-11.mp3</string>
					<key>EngSuffix</key>
					<string>-11.mp3</string>
					<key>bytes</key>
					<integer>7085371</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-12.mp3</string>
					<key>EngSuffix</key>
					<string>-12.mp3</string>
					<key>bytes</key>
					<integer>3076097</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-13.mp3</string>
					<key>EngSuffix</key>
					<string>-13.mp3</string>
					<key>bytes</key>
					<integer>3956319</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-14.mp3</string>
					<key>EngSuffix</key>
					<string>-14.mp3</string>
					<key>bytes</key>
					<integer>2142794</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-15.mp3</string>
					<key>EngSuffix</key>
					<string>-15.mp3</string>
					<key>bytes</key>
					<integer>8995862</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-16.mp3</string>
					<key>EngSuffix</key>
					<string>-16.mp3</string>
					<key>bytes</key>
					<integer>4114517</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-17.mp3</string>
					<key>EngSuffix</key>
					<string>-17.mp3</string>
					<key>bytes</key>
					<integer>71180</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>author</key>
			<string>淨宗學會</string>
			<key>ChiFolderName</key>
			<string>無量壽經</string>
			<key>EngFolderName</key>
			<string>無量壽經</string>
			<key>chapters</key>
			<array>
				<dict>
					<key>ChiSuffix</key>
					<string>-01.mp3</string>
					<key>EngSuffix</key>
					<string>-01.mp3</string>
					<key>bytes</key>
					<integer>5734255</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-02.mp3</string>
					<key>EngSuffix</key>
					<string>-02.mp3</string>
					<key>bytes</key>
					<integer>5697684</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-03.mp3</string>
					<key>EngSuffix</key>
					<string>-03.mp3</string>
					<key>bytes</key>
					<integer>5632273</integer>
				</dict>
				<dict>
					<key>ChiSuffix</key>
					<string>-04.mp3</string>
					<key>EngSuffix</key>
					<string>-04.mp3</string>
					<key>bytes</key>
					<integer>5601866</integer>
				</dict>
			</array>
		</dict>
	</array>
</plist>
